*{
		margin: 0px;
	padding: 0px;

}
body{
	background: 	#FF8FCD;
	font-family: Arial, helvetica, sans-serif;
	
}

header{
     background: #BCA6FF;
     height:100px;
	 width: 100%;
	 text-align:center;
	 line-height:100px;
	 color:	black;
	 border-bottom: 3px dashed;
	 font-family:cambria bold;
	 font-size:300%;
}

.pink {
  color: #FF8FCD;
}

.yellowgreen {
  color: yellowgreen;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.menu li a{
    text-decoration: none;
    color: white;
    padding: 9px; 
    display: block;	
	
}	

.menu li{
     display: inline-block;
     text-align: center;	 
}	

.menu li a:hover{
   background: #FF8FCD;	
}

nav{
	background: #AFC1FF;
	height: 50px;
	border:1px solid black;
}
nav ul{
    list-style-type: none; 
}
nav li{
    display: inline; 
}

.clearfix{
	clear:both;
}
